@{
    ViewBag.Title = "Вход";
}

@Scripts.Render("~/bundles/login")

<div class="row">
    <h2 class="col-12">@ViewBag.Title.</h2>
    <h3 class="col-12">@ViewBag.Message</h3>
    <div class="col-12">
        <div class="form-group">
            <label for="exampleInputEmail1" class="mb-3">Логин</label>
            <input type="email" class="form-control" id="login" aria-describedby="emailHelp" placeholder="Введите логин">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Пароль</label>
            <input type="password" class="form-control" id="password" placeholder="Введите пароль">
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
</div>
