@{
    ViewBag.Title = "Новости";
}

@Scripts.Render("~/bundles/news")

<div class="col-12">
    <div class="row  justify-content-center">
        <h2 class="col-12 mb-2 text-center">@ViewBag.Title.</h2>
        <h3 class="col-12 mb-4 text-center">@ViewBag.Message</h3>
        <div class="col-md-3">
            <div class="row mb-2">
                <div class="col-12">1 Новость</div>
            </div>
            <div class="row mb-2">
                <div class="col-12">1 Новость</div>
            </div>
            <div class="row mb-2">
                <div class="col-12">1 Новость</div>
            </div>
            <div class="row mb-2">
                <div class="col-12">1 Новость</div>
            </div>
            <div class="row mb-2">
                <div class="col-12">1 Новость</div>
            </div>
            <div class="row mb-2">
                <div class="col-12">1 Новость</div>
            </div>
            <div class="row mb-2">
                <div class="col-12">1 Новость</div>
            </div>
            <div class="row mb-2">
                <div class="col-12">1 Новость</div>
            </div> <div class="row mb-2">
                <div class="col-12">1 Новость</div>
            </div>
        </div>
    </div>
</div>