@{
    ViewBag.Title = "Профиль";
}

@Scripts.Render("~/bundles/profile")
<div class="col-12">
    <div class="row  justify-content-center">
        <h2 class="col-12 mb-2 text-center">@ViewBag.Title.</h2>
        <h3 class="col-12 mb-4 text-center">@ViewBag.Message</h3>
        <div class="col-md-3">
            <div class="row mb-2">
                <div class="col-12">Мой логин: <span id="login" class="font-weight-bold"></span></div>
            </div>
            <div class="row mb-2">
                <div class="col-12">Мой пароль: <span id="password" class="font-weight-bold"></span></div>
            </div>
        </div>
    </div>
</div>